# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/.vs/Saving/FileContentIndex
/.vs/Saving/v17/ipch/AutoPCH
/.vs/Saving/v17
/Debug
/Packer/Debug/Packer.tlog
/Packer/Debug
/Saving/Debug/Saving.tlog
/Saving/Debug
/Saving/x64/Debug/Saving.tlog
/Saving/x64/Debug
/x64/Debug
